<head>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Gluten:wght@200;700&display=swap" rel="stylesheet" />
</head>
<body>
    <div class="welcome-titles">
        <h1><span class="welcome-title1">Bienvenue à </span><span class="welcome-title2 color-blue bold">PolyQuiz</span></h1>
    </div>
    <app-error-message class="block"></app-error-message>
    <br />
    <p class="center">Veuillez vous déconnecter de l'autre session active, puis réessayez de vous connecter</p>

    <div class="connection-button">
        <button class="block" mat-raised-button (click)="onLogin()">CONNEXION</button>
    </div>
</body>
