<app-question-form [question]="question"></app-question-form>
<mat-dialog-actions
    class="buttons page"
    id="space-between"
    [ngClass]="{
        'light-mode': this.accountService.theme === 'light',
        'dark-mode': this.accountService.theme === 'dark',
        christmas: this.accountService.theme === 'christmas',
        valentines: this.accountService.theme === 'valentines',
    }"
>
    <button mat-raised-button class="background-red action-button block" (click)="onCancel()">{{ 'BUTTONS.CANCEL' | translate }}</button>
    <button mat-raised-button class="background-green action-button" (click)="onSaveQuestion()">
        {{ 'BUTTONS.SAVE' | translate }}
    </button>
</mat-dialog-actions>
