.container {
    width: 17.5rem;
    height: 3rem;
    background-color: #d7d7d7;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.aligned-element{
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
}

h2 {
    left: 1rem;
}

i {
    right: 1rem;
    transition: transform 0.2s;
}


i:hover {
    color: red;
    transform: scale(1.2);
}

img {
    border-radius: 50%;
}


